[submodule "themes"]
	path = themes
	url = https://github.com/mcpt/mcpt-fundamentals-hugo-theme
[submodule "themes/mcpt-fundamentals-hugo-theme"]
	path = themes/mcpt-fundamentals-hugo-theme
	url = https://github.com/mcpt/mcpt-fundamentals-hugo-theme
