/* Catamaran font */
@import url(https://fonts.googleapis.com/css?family=Catamaran);

/* Source Code Pro font*/
@import url (https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600);

.main-color{
  background-color: #27BBE1 !important;
}

.second-color{
  background-color: #E61B61 !important;
}

.back-color{
  background-color: #3B3538 !important;
}
h1 {
  color: #E61B61;
}

h2 {
  color: #CF1757;
}

h3 {
  color:  #E83071;
}

::selection {
  background: #3D5AFE;
  color: #FFFFFF;
}

::-moz-selection {
  background: #3D5AFE;
  color: #FFFFFF;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.page {
	min-height: 100%;
	position: relative;
}

header {

}

main {
    padding: 16px;
}

footer {
	width: 100%;
    margin-bottom: -125px;
	position: absolute;
	bottom: 0;
}

/* No selection nor dragging */
.noseldrag {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
}

/* Username */
user {
  color: #673AB7;
  font-weight: 700;
}

a:hover > small.text-muted,
small.text-muted > a:hover {
  text-decoration: underline;
}

/* Editorial title closer to author */
.editorial-title > h1 {
  margin-bottom: 0;
}

.editorial-title > hr {
  margin-top: 0;
}

.editorial-title > user::before {
  content: " ";
}

/* Bigger list font sizing */
.large-list {
  font-size: 1.2em;
}

.large-list > li {
  padding-left: 0.2em;
}

/* Temporary fix to button */
.btn-block {
  margin-left: 0;
  margin-right: 0;
}

/* Header links */
a:hover > h2 {
  color: #cc2972;
}

/* No Mathjax blue outline */
:focus {
  outline: none;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-button:hover {
  background: #9fa8da;
}

::-webkit-scrollbar:vertical {
  width: 10px;
}

::-webkit-scrollbar:horizontal {
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #E61B61;
}

::-webkit-scrollbar-thumb:hover {
  background: #cf1757;
}

::-webkit-scrollbar-thumb:active {
  background-color:#b8144e;
}

::-webkit-scrollbar:hover {
  background-color: rgba(235, 71, 129, 0.3);
}
